In [2]:
import sqlite3 as sql

In [7]:
connection = sql.connect("localdb")

In [11]:
cursor = connection.cursor()

In [51]:
q = open("./queries.sql").read()
q = q.split(';')
out = []
for i in q:
    out.append(i.replace('\n', ''))
out

['create table Player(id int,name varchar, attributes int,team varchar)',
 "insert into Player values(1,'Ronaldo',93,'Real Madrid')",
 "insert into Player values(2,'Bale',90,'Real Madrid')",
 "insert into Player values(3,'Asensio',82,'Real Madrid')",
 "insert into Player values(4,'Navas',83,'Real Madrid')",
 "insert into Player values(5,'Ramos',90,'Real Madrid')",
 "insert into Player values(6,'Buffon',89,'Juventus')",
 "  insert into Player values(7,'Cheillini',82,'Juventus')",
 "insert into Player values(8,'Higuain',84,'Juventus')",
 "insert into Player values(9,'Khedira',86,'Juventus')",
 " insert into Player values(10,'Rugani',79,'Juventus')",
 "insert into Player values(11,'Donnarumma',82,'A C Milan')",
 "insert into Player values(12,'Zapata',84,'A C Milan')",
 "insert into player values(13,'Biglia',79,'A C Milan')",
 "insert into Player values(14,'Suso',78,'A C Milan')",
 " insert into Player values(15,'Borini',78,'A C Milan')",
 " insert into Player values(16,'Messi',92,'Barcelona')",
 " insert into Player values(17,'Bravo',85,'Barcelona')",
 " insert into Player values(18,'Pique',86,'Barcelona')",
 " insert into Player values(19,'Suarez',90,'Barcelona')",
 "insert into Player values(20,'Iniesta',89,'Barcelona')",
 "insert into Player values(21,'Zlatan',91,'Manchester United')",
 "insert into Player values(22,'Pogba',86,'Manchester United')",
 "insert into Player values(23,'Lukaku',83,'Manchester United')",
 "insert into Player values(24,'DeGea',91,'Manchester United')",
 "insert into Player values(25,'Fellani',84,'Manchester United')",
 "insert into Player values(26,'Sanchez',87,'Arsenal')",
 " insert into Player values(27,'Ozil',85,'Arsenal')",
 "insert into Player values(28,'Chez',82,'Arsenal')",
 " insert into Player values(29,'Lacazette',86,'Arsenal')",
 "insert into Player values(30,'Ramsey',85,'Arsenal')",
 " insert into Player values(31,'Lewandoski',88,'Bayren Munich')",
 "insert into Player values(32,'Robben',90,'Bayren Munich')",
 "  insert into Player values(33,'Nuyer',92,'Bayren Munich')",
 " insert into Player values(34,'Hummelz',90,'Bayren Munich')",
 "insert into Player values(35,'Muler',89,'Bayren Munich')",
 "  insert into Player values(36,'Burki',82,'Dortmund')",
 "insert into Player values(37,'Gotze',82,'Dortmund')",
 "insert into Player values(38,'Rues',90,'Dortmund')",
 " insert into Player values(39,'Philip',78,'Dortmund')",
 "insert into Player values(40,'Castro',84,'Dortmund')",
 '   ']

In [54]:
try:
    for line in out:
        cursor.execute(line)
    print("Executed successfully")
except:
    pass

In [58]:
res = cursor.execute("select * from Player")